.hover-line {
    position: relative;

}

.hover-line::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fb923c; /* orange-500 */
    transition: width 0.3s ease;
}

.hover-line:hover::after {
    width: 100%;
}
